{% extends 'base/base.html' %} {% load static %} {% block content %} 
{% include 'base/navbar.html' %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}">
<py-script src="{% static '/ps/orders.py' %}"> </py-script>

<table>
  <thead>
    <tr>
      <th>Drug ID</th>
      <th>Drug Name</th>
      <th>Quantity</th>
      <th>Expiry Date</th>
      <th>Drug Status</th>
      <th>Price Per Unit (NIS)</th>
      <th>Total Price (NIS)</th>
      <th>Order Status</th>
    </tr>
  </thead>
  <tbody id="get-orders">
  </tbody>
</table>

{% endblock%}
