{% extends 'base/base.html' %} {% load static %} {% block content %} 
{% include 'base/navbar.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-7ZPWPZ5sUhRQTp3P5zCOZyPOk5SdsehCPmpsjg5tl0Iuh8AA1e0zJ6hV2DYh6lbm3sF7h7mThG79T6hkXprMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/orders.css' %}">

<py-script src="{% static 'ps/orders.py' %}"></py-script>

<table>
  <thead>
    <tr>
      <th>Drug ID</th>
      <th>Drug Name</th>
      <th>Quantity</th>
      <th>Expiry Date</th>
      <th>Drug Status</th>
      <th>Price Per Unit (NIS)</th>
      <th>Total Price (NIS)</th>
      <th>Order Status</th>
    </tr>
  </thead>
  <tbody id="get-orders">
    
  </tbody>
</table>

{% endblock %}
