{% extends 'base/base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static '/css/profile.css' %}" />

<py-script src="{% static 'ps/users.py' %}"></py-script>

{% include 'base/navbar.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<div class="container-xl px-4 mt-5 pt-5">
  <div class="row">
    <div class="col-xl-4">
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <img
            id="profile_pic"
            class="img-account-profile rounded-circle mb-2"
            src="https://bootdey.com/img/Content/avatar/avatar7.png"
            alt=""
            style="width: 200px;"
          />

          <div class="small font-italic text-muted mb-4">
            JPG or PNG no larger than 5 MB
          </div>
          <form action="">
            <input type="file" id="upload" accept="image/*" class="btn btn-primary" type="button"/>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label class="small mb-1" for="inputUsername"
                >Username (how your name will appear to other users on the
                site)</label
              >
              <input
                class="form-control"
                id="inputUsername"
                type="text"
                placeholder="Enter your username"
                value="username"
              />
            </div>

            <div class="row gx-3 mb-3">
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName"
                  >First name</label
                >
                <input
                  class="form-control"
                  id="inputFirstName"
                  type="text"
                  placeholder="Enter your first name"
                  value="Valerie"
                />
              </div>

              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Last name</label>
                <input
                  class="form-control"
                  id="inputLastName"
                  type="text"
                  placeholder="Enter your last name"
                  value="Luna"
                />
              </div>
            </div>
            <div class="mb-3"">
              <label class="small mb-1" for="inputLocation">Location</label>
              <input
                class="form-control"
                id="inputLocation"
                type="text"
                placeholder="Enter your location"
                value="San Francisco, CA"
              />
            </div>

            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress"
                >Email address</label
              >
              <input
                class="form-control"
                id="inputEmailAddress"
                type="email"
                placeholder="Enter your email address"
                value="name@example.com"
              />
            </div>
            <button class="btn btn-primary" type="button" py-click="patch_data()">Save changes</button>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Change password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <py-script src="{% static 'ps/auth.py' %}"></py-script> -->
      <div class="modal-body" style="text-align: center;">
        <img id="lock-icon" src="{% static 'assets/icons/lock-password_icon.svg' %}" alt="lock-password" id="lock-password">
        <p>Update Password</p>
        <input type="password" id="old_pass" name="password" placeholder="Old Password">
        <input type="password" id="new_pass" name="New Password" placeholder="New Password"><br>
        <button type="button" id="save" onclick="makePostRequest()">Save</button>
        <button type="button" id="cancel" data-dismiss="modal" aria-label="Close">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('upload').addEventListener('change', function(event) {
    const file = event.target.files[0];

    if (file) {
      const reader = new FileReader();

      reader.onloadend = function() {
        const base64Text = reader.result;
        console.log(base64Text); // This is the base64 encoded text.
        pyscript.interpreter.globals.get('upload')(base64Text)
      };
      reader.readAsDataURL(file);
      document.getElementById("upload").value=null;

    }
  });
</script>

<script>
  function makePostRequest() {
      const url = "http://localhost:8000/api/auth/password/change"
      const requestData = {
        "old_password": document.getElementById("old_pass").value,
        "new_password": document.getElementById("new_pass").value,
      };
      auth_data = JSON.parse(localStorage["auth_data"])
      console.log(auth_data["token"])
      const requestOptions = {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "accept": "application/json",
              "Authorization": `Token ${auth_data["token"]}`,
          },
          body: JSON.stringify(requestData)
      };

      fetch(url, requestOptions)
          .then(response => {
            if(!response.ok){
              throw Error(`HTTP error! status:${response.status}`);
            }
              return response.json();
          })
          .then(data => {
            alert("Password changed successfully")
          })
          .catch(error => {
              console.error("Error:", error);
          });
  }
</script>


{% endblock %}
