body {
    background-color: #F9F9F9;

}

.container .navbar-head p {
    color: #707070;
    font-size: small;
    margin-right: 50px;
}

#logo {
    width: 70px;
    height: 70px;
}

#Mask-Group {
    box-shadow: 3px 3px 10px #E3E3E3;
    border-radius: 50%;
}

.nav-item a {
    color: black;
    margin-left: 15px;
}

#navbarNav label {
    padding-right: 25px;
    margin-left: -7px;
}

#order {
    padding: 12px 25px;
    background-color: #A7CC3A;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    border: none;
    margin-left: 20px;
    width: 100px;
    cursor: pointer;
}

nav {
    box-shadow: 3px 3px 6px #E3E3E3;
    background-color: white;
}

.account {
    border-top: 1px solid black;
    width: 200px;
    height: 1000px;
    background-color: white;
    margin-left: 100px;
}

.circle {
    width: 105px;
    height: 105px;
    display: flex;
    background-color: #F9F9F9;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 50px;
    box-shadow: 3px 3px 10px #E3E3E3;
}

.account ul,
li {
    list-style-type: none;
    color: #707070;
    padding: 20px 0px;
    margin-top: 20px;
    text-align: center;
}

.co {
    margin-left: 350px;
    margin-top: -830px;
}

.co p,
h5 {
    margin-left: 30px;
    margin-top: -25px;
    font-size: large;
    color: #B1B1B1;
}

.co h5 {
    margin-left: 172px;
    margin-top: -40px;
    font-size: large;
    color: #0093DD;
}

table {
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    font-size: small;
    margin-top: 50px;
}

th,
td {
    padding: 10px;
    width: 95px;
    ;
    border-bottom: 1px solid #B1B1B1;
}

th {
    background-color: #D4EDF9;
    font-weight: bold;
}

td {
    background-color: white;
    vertical-align: middle;

}

td[colspan="8"] {
    background-color: #E3E3E3;
    color: #707070;
    font-weight: bold;
    text-align: right;
    padding: 4px;
    padding-right: 30px;
}

tr:first-child {
    border-bottom: 1px solid #E3E3E3;
}

table tr td:nth-child(2),
table tr td:nth-child(3) {
    color: #0093DD;
}

table tr td:nth-child(6),
table tr td:nth-child(7) {
    color: #168305;
    font-weight: bold;
}

table tr td:nth-child(8) {
    color: #946800;
    font-weight: bold;
}

table label {
    color: #168305;
}

a {
    text-decoration: none;
}

.ordr {

    margin-right: 730px;
}

.navigation a {
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    margin-left: 30%;
}

.navigation .prev {
    color: #707070;
    font-size: large;
}

.navigation .next {
    color: #707070;
    margin-left: 150px;
    font-size: large;
}


.footer {
    background: url('../assets/images/national-cancer.png') center no-repeat;
    background-size: cover;
    color: white;

}

.background-layer {
    background-color: rgba(0, 147, 221, 0.7);
    width: 100%;
    height: 100%;
}

.background-layer #facebook {
    margin-left: 150px;
    margin-top: -115px;
    width: 40px;
}

.background-layer #whatsapp {
    margin-top: -115px;
    width: 40px;
}