CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "users_db" ("password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "id" char(32) NOT NULL PRIMARY KEY, "username" varchar(50) NOT NULL UNIQUE, "email" varchar(254) NOT NULL UNIQUE, "location" varchar(50) NOT NULL, "profile_pic" varchar(100) NOT NULL, "updated_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "users_db_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" char(32) NOT NULL REFERENCES "users_db" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "users_db_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" char(32) NOT NULL REFERENCES "users_db" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "users_db_groups_user_id_group_id_97fabc83_uniq" ON "users_db_groups" ("user_id", "group_id");
CREATE INDEX "users_db_groups_user_id_2b02f56d" ON "users_db_groups" ("user_id");
CREATE INDEX "users_db_groups_group_id_045a15b8" ON "users_db_groups" ("group_id");
CREATE UNIQUE INDEX "users_db_user_permissions_user_id_permission_id_e4446921_uniq" ON "users_db_user_permissions" ("user_id", "permission_id");
CREATE INDEX "users_db_user_permissions_user_id_89ef288f" ON "users_db_user_permissions" ("user_id");
CREATE INDEX "users_db_user_permissions_permission_id_a7e568ad" ON "users_db_user_permissions" ("permission_id");
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" char(32) NOT NULL REFERENCES "users_db" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE TABLE IF NOT EXISTS "tokens_db" ("key" varchar(40) NOT NULL PRIMARY KEY, "created" datetime NOT NULL, "user_id" char(32) NOT NULL UNIQUE REFERENCES "users_db" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "user_key_idx" ON "tokens_db" ("user_id", "key");
CREATE TABLE IF NOT EXISTS "drugs_db" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created" datetime NOT NULL, "modified" datetime NOT NULL, "name" varchar(50) NOT NULL, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "exp_date" date NOT NULL, "drug_price" decimal NOT NULL, "is_active" bool NOT NULL);
CREATE INDEX "drugs_db_is_active_ea75123a" ON "drugs_db" ("is_active");
CREATE TABLE IF NOT EXISTS "notifications_app_abstractmessagingmodel" ("created" datetime NOT NULL, "modified" datetime NOT NULL, "id" char(32) NOT NULL PRIMARY KEY, "data" text NULL CHECK ((JSON_VALID("data") OR "data" IS NULL)), "sender_id" char(32) NOT NULL REFERENCES "users_db" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "notifications_app_abstractmessagingmodel_sender_id_48720d4b" ON "notifications_app_abstractmessagingmodel" ("sender_id");
CREATE TABLE IF NOT EXISTS "notifications_db" ("abstractmessagingmodel_ptr_id" char(32) NOT NULL PRIMARY KEY REFERENCES "notifications_app_abstractmessagingmodel" ("id") DEFERRABLE INITIALLY DEFERRED, "seen" bool NOT NULL, "receiver_id" char(32) NOT NULL REFERENCES "users_db" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "notifications_db_receiver_id_9b58c0f1" ON "notifications_db" ("receiver_id");
CREATE TABLE IF NOT EXISTS "ordered_drugs_db" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "drug_id" bigint NOT NULL REFERENCES "drugs_db" ("id") DEFERRABLE INITIALLY DEFERRED, "order_id" bigint NOT NULL REFERENCES "orders_db" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "ordered_drugs_db_drug_id_93dc1455" ON "ordered_drugs_db" ("drug_id");
CREATE INDEX "ordered_drugs_db_order_id_3f47c349" ON "ordered_drugs_db" ("order_id");
CREATE TABLE IF NOT EXISTS "orders_db" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created" datetime NOT NULL, "modified" datetime NOT NULL, "status" varchar(10) NOT NULL, "user_id" char(32) NOT NULL REFERENCES "users_db" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "orders_db_user_id_a131a046" ON "orders_db" ("user_id");
CREATE UNIQUE INDEX "ordered_drugs_db_order_id_drug_id_dbb0d24a_uniq" ON "ordered_drugs_db" ("order_id", "drug_id");
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE TABLE IF NOT EXISTS "django_site" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "domain" varchar(100) NOT NULL UNIQUE);
